  <ons-page class="playPage" ng-controller="PlayCtrl">
  		<h1>instructions</h1>

  		<div class="numbering">
	  		<p><img src="img/one.png">read the question carefully</p>
	  		<p><img src="img/two.png">if you don't know the answer, check the walls for clues</p>
	  		<p><img src="img/three.png">select your answer</p>
  		</div>

  		<img src="img/arrow-left-small.png"/>
 		 <ons-button modifier="light" class="nextButton" ng-click="wibbly();">
			     	<span id="next-text">play</span>
			     	<span class="no-display" id="spinp">
				     	<span class="spanner">
							<span class="rect1"></span>
							<span class="rect2"></span>
							<span class="rect3"></span>
							<span class="rect4"></span>
							<span class="rect5"></span>
						 </span>
				  </span>
			  	</ons-button>

 		<img src="img/arrow-right-small.png"/>
 		<p class="b-text">hit to play get knife wise</p>
  </ons-page>	
