<ons-navigator animation="fade" var="app.navi">
  <ons-page class="homePage" >
  <div class="homePage" ng-controller="StartCtrl">
	<h1>are you knife wise?</h1>
	<h2>
		The consequences of knife crime has a lasting impact, destroying the lives 
		of families and communities. The first step in prevention is awareness.
	</h2>

	<img src="img/arrow-left.png" alt="arrow left" alt="arrow left" />
	<ons-button modifier="light" class="nextButton" ng-click="wibbly();"><span id="next-text">next</span><span class="no-display" id="spind"><span class="spanner">
		<span class="rect1"></span>
		<span class="rect2"></span>
		<span class="rect3"></span>
		<span class="rect4"></span>
		<span class="rect5"></span>
	 </span> </span></ons-button>	
	<img src="img/arrow-right.png" alt="arrow left" alt="arrow left" />
	</div>
  </ons-page>
</ons-navigator>