  <ons-page class="thanksPage" ng-controller="ThanksCtrl">
	<h1>thank you for playing, <img src="img/arrow-slant.png"/></h1>
	<h2>
		you are now <span>knife-wise</span>
	</h2>

	 <ons-button modifier="light" class="nextButton" ng-click="wibbly();">
			     	<span id="next-text">next</span>
			     	<span class="no-display" id="spint">
				     	<span class="spanner">
							<span class="rect1"></span>
							<span class="rect2"></span>
							<span class="rect3"></span>
							<span class="rect4"></span>
							<span class="rect5"></span>
						 </span>
				  </span>
			  	</ons-button>

  </ons-page>