/*/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
   margin: 0 auto;
}

.autocomplete input{
  width: 100%;
  border: 8px solid #fff200;
  padding: 13px 20px;
  width: 750px;
  background-color: #aea8b8;
  color: #fff200;
  font-size: 40px;
 
}

.autocomplete ul{
  width: 750px;
  background-color: #aea8b8;
  color: #fff200;
  font-size: 40px;
  z-index: 1;
  position:absolute;
  left:50%;
  margin-left:-375px;

  max-height: 90px;
  overflow: hidden;
}

.autocomplete li{
  list-style:none;
  width: 100%;
  background-color: #aea8b8;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}